
/*lo unico que hay que hacer para vincular estos estilos al gridView es agregar Class="mGrid" 
    en la etiqueta <asp:GridView ID="grdUsuarios" runat="server"..........
*/

* {
    padding: 0;
    margin: 0;
}

body {
    font: 11px Tahoma;
    background: #71b7e6;
}

h1 {
    font: bold 32px Times;
    color: #666;
    text-align: center;
    padding: 20px 0;
}

#container {
    width: 700px;
    margin: 10px auto;
}

.mGrid {
    width: 100%;
    background-color: #fff;
    margin: 5px 0 10px 0;
    border: solid 1px #525252;
    border-collapse: collapse;
}

    .mGrid td {
        padding: 2px;
        border: solid 1px #c1c1c1;
        color: #717171;
    }

    .mGrid th {
        padding: 4px 2px;
        color: #fff;
        background: #424242 url(grd_head.png) repeat-x top;
        border-left: solid 1px #525252;
        font-size: 0.9em;
    }

    .mGrid .alt {
        background: #fcfcfc url(grd_alt.png) repeat-x top;
    }

    .mGrid .pgr {
        background: #424242 url(grd_pgr.png) repeat-x top;
    }

        .mGrid .pgr table {
            margin: 5px 0;
        }

        .mGrid .pgr td {
            border-width: 0;
            padding: 0 6px;
            border-left: solid 1px #666;
            font-weight: bold;
            color: #fff;
            line-height: 12px;
        }

        .mGrid .pgr a {
            color: #666;
            text-decoration: none;
        }

            .mGrid .pgr a:hover {
                color: #000;
                text-decoration: none;
            }

/*boton insertar basta con agregar class="btn-bootstrap" a <asp:Button ID="btnInsertar"......*/

.btn-bootstrap {
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    background-color: #9b59b6;
    color: #fff;
    transition: background-color 0.15s ease-in-out;
    margin-left: 10px;
}

    .btn-bootstrap:hover,
    .btn-bootstrap:focus {
        background-color: #0069d9;
    }

    .btn-bootstrap:active {
        background-color: #0062cc;
    }
