<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
      <add name="ConnStringLocal" connectionString="Server=localhost;Database=tp2_net;Integrated&#xA;Security=false; User=net; Password=net;"
          providerName="System.Data.SqlClient" />
      <add name="ConnStringExpress" connectionString="Server=localhost\SQLEXPRESS;Database=tps_net;Integrated Security=false; User=net; Password=net;"
          providerName="System.Data.SqlClient" />
      <add name="ConnStringServerISI" connectionString="Server=serverisi; Database=tp2_net; Integrated&#xA;Security=false; User=net; Password=net;"
          providerName="System.Data.SqlClient" />
      <add name="ConnStringLocalCasa" connectionString="Server=localhost;Database=Academia;Integrated Security=true;"
          providerName="System.Data.SqlClient" />
      <add name="ConnStringLocalCasaGonza" connectionString="Server=localhost\SQLEXPRESS;Database=academia;Integrated Security=true;"
          providerName="System.Data.SqlClient" />
      <add name="UI.Desktop.Properties.Settings.AcademiaConnectionString"
          connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Academia;Integrated Security=False;User ID=net"
          providerName="System.Data.SqlClient" />
      <add name="UI.Desktop.Properties.Settings.AcademiaConnectionString1"
          connectionString="Data Source=localhost\SqlExpress;Initial Catalog=Academia;Integrated Security=True"
          providerName="System.Data.SqlClient" />
      <add name="UI.Desktop.Properties.Settings.AcademiaConnectionString2"
          connectionString="Data Source=localhost;Initial Catalog=Academia;Integrated Security=True"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
